---
import BaseLayout from "../layouts/BaseLayout.astro";

const messagesFetch = await fetch('http://web:7800/api/message');
let allMessages = await messagesFetch.json();

// at most 20 messages are shown
allMessages = allMessages.slice(0, 20);
---

<BaseLayout pageTitle="Third Course Project">
	<h2>Messaging Application</h2>
    <h3>Most Recent Messages (showing at most 20 messages)</h3>
    <ul>
        {allMessages.map(message => <li><a href={`/replies/${message.id}`}>{message.content}</a> Created at: {message.created_at}</li>)}
    </ul>
    <h3>Add new message here:</h3>
    <textarea id="content" cols="50" rows="2"></textarea> <br>
    <button id="submitButton">Submit</button>
</BaseLayout>

<script>
    if (window.localStorage.getItem('userid') === null) {
        console.log('userid not set yet, generating');
        const userid = crypto.randomUUID();
        window.localStorage.setItem('userid', userid);
    }

    console.log(`userid: ${window.localStorage.getItem('userid')}`);

    document.querySelector('#submitButton').addEventListener('click', () => {
        const userid = window.localStorage.getItem('userid');
        const content = document.querySelector('#content').value;

        const data = {
            userid: userid,
            content: content,
            top_level: true,
        };
        console.log(data);
        fetch('/api/message', {
            method: 'POST',
            body: JSON.stringify(data)
        });

        window.location.reload();
    });
</script>
